[Unit]
Description=OVOS Admin Phal
PartOf=ovos.service
After=ovos.service
After=ovos-messagebus.service

[Service]
Type=notify
Environment=PYTHONPATH=%h/.venv/bin
Environment=PYTHONUNBUFFERED=1
ExecStart=%h/.venv/bin/python %h/.local/bin/systemd/systemd-admin-phal.py
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4

[Install]
WantedBy=ovos.service
