[Unit]
Description=Mycroft Messagebus
PartOf=mycroft.service
After=mycroft.service

[Service]
Type=notify
WorkingDirectory=%h/mycroft-core
Environment=PYTHONPATH=%h/mycroft-core/.venv/bin
Environment=PYTHONUNBUFFERED=1
ExecStart=%h/mycroft-core/.venv/bin/python %h/mycroft-core/mycroft-systemd/scripts/systemd_messagebus.py
StandardOutput=file:/var/log/mycroft/bus.log
StandardError=file:/var/log/mycroft/bus.error.log
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
#StartLimitAction=reboot-force
WatchdogSec=30s

[Install]
WantedBy=mycroft.service
